---
import { Icon } from 'astro-icon';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  personalIcons: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { personalIcons = [], theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800']}>
  <div class="bg-gradient-to-b from-white via-fuchsia-200 to-blue-300 dark:from-black dark:to-gray-600 absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-white">
    <div class="py-8 md:py-12">
      <div class="col-span-12 lg:col-span-4">
        <div class="flex items-center justify-between md:py-4">
          <span class="inline-block font-bold text-sm max-sm:text-xs">Created by Sofia Haglund using <a href="https://github.com/onwidget/astrowind" class="text-teal-700 dark:text-fuchsia-300">AstroWind</a><br></span>
          {
            personalIcons?.length ? (
              <ul class="flex">
                { personalIcons.map(({ icon }) => (
                  <li
                      class="p-2.5 inline-flex items-center"
                    >
                      {icon && <Icon name={icon} class="w-5 h-5 max-sm:hidden" />}
                  </li>
                ))}
              </ul>
            ) : (
              ''
            )
          }
        </div>
        <p class="inline-block font-bold text-xs">Last Updated: 2024-02-04</p>
      </div>
    </div>
  </div>
</footer>
