---
import { Picture } from '@astrojs/image/components';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="relative md:-mt-[76px]">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="py-12 md:py-20">
      <div class="text-center max-w-screen-lg mx-auto">
        <div class="pb-5 md:pb-10">
        {
          image && (
            <div class="relative m-auto max-w-5xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-auto rounded-full"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  aspectRatio={200 / 200}
                  loading="eager"
                  width={200}
                  height={200}
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
      <div class="text-center pt-5 max-w-screen-lg mx-auto">
        {
          title && (
            <h1
              class="text-6xl md:text-7xl h-[4rem] md:h-[5rem] lg:h-[5rem] font-bold font-bubblegum 
                bg-gradient-to-r from-pink-400 via-indigo-400 to-purple-300 inline-block text-transparent 
                bg-clip-text font-outline-2 hover:from-indigo-400 hover:via-purple-300 hover:to-pink-400
                dark:from-pink-500 dark:via-purple-500 dark:to-blue-500 dark:hover:from-blue-500
                dark:hover:via-purple-500 dark:hover:to-pink-500"
              set:html={title}
            />
          )
        }
        <div class="max-w-3xl mx-auto">
          {subtitle && <p class="text-xl text-muted mb-6 dark:text-slate-300" set:html={subtitle} />}
        </div>
      </div>
    </div>
  </div>
</section>
