---
import { Picture } from '@astrojs/image/components';
import Sofia from '~/assets/images/avatar.png';  

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="relative md:-mt-[76px]">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-5xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
    <div class="grid grid-cols-1 max-sm:grid-cols-1 py-5 md:pt-[50px] md:pb-[50px]">
      <div class="lg:col-span-2 md:col-span-2 max-sm:col-span-2 text-center max-w-screen-lg mx-auto lg:mt-0 md:mt-[20px]">
        <div class="pb-5 md:pb-10">
        {
          image && (
            <div class="relative m-auto max-w-5xl block">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-auto rounded-full"
                  src={Sofia}
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  aspectRatio={200 / 200}
                  loading="eager"
                  width={200}
                  height={200}
                  alt="Sofia_Haglund"
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
      <div class="text-xl max-sm:mt-3">Welcome! I'm</div>
      <div class="text-center pt-2 max-w-screen-lg mx-auto">
        {
          title && (
            <h1
              class="text-6xl md:text-5xl max-sm:text-5xl h-[4rem] md:h-[3.5rem] lg:h-[3.5rem] max-sm:h-[3.5rem]
              font-bold font-sofia inline-block sofia-title"
              set:html={title}
            />
          )
        }
        <div class="max-w-3xl mx-auto">
          {subtitle && <h2 class="text-xl max-sm:text-sm mb-3 md:text-xl text-yellow-950 font-medium" set:html={subtitle} />}
        </div>
      </div>
    </div>
    <div class="lg:col-span-1 md:col-span-2 max-sm:col-span-1 lg:mx-[20px] lg:mt-[40px] lg:mb-[40px] md:mx-[40px] max-sm:mx-[20px] lg:text-xl 
      md:mt-[40px] max-sm:my-5">
      I'm thrilled to share my journey from the academic world to the vibrant realm of <span class="underline decoration-blue-200 font-bold">iGaming</span>. 
      My path has been anything but 
      conventional, moving from the structured environment of academia to the dynamic and exhilarating world of gaming.<br>
      Transitioning from a <span class="underline decoration-blue-200 font-bold">Bioinformatician</span> into a 
      <span class="underline decoration-blue-200 font-bold">CRO Analyst</span>, I discovered that many of the skills I honed in bioinformatics 
      seamlessly translated into the realm of digital marketing. Both disciplines require a strong foundation in 
      <span class="underline decoration-blue-200 font-bold">data analysis</span> and a keen eye for patterns. Whether I'm decoding the human 
      genome or user behavior on a website, the core principles remain the same: gather data, analyze it meticulously, and derive 
      actionable insights to drive meaningful outcomes.
      <br>My experience in bioinformatics has endowed me with a unique perspective on 
      <span class="underline decoration-blue-200 font-bold">problem-solving</span>. I approach CRO challenges with a scientific mindset. 
      My analytical skills enable me to dissect user data with precision, while my background in Life Science fuels my 
      commitment to evidence-based strategies.
      Moreover, my versatile role as a Bioinformatician and System Developer at NGI has equipped me with a valuable skill set. 
      I am adept at <span class="underline decoration-blue-200 font-bold">web development</span> and <span class="underline decoration-blue-200 font-bold">
      coding</span>, <span class="underline decoration-blue-200 font-bold">UX</span>, <span class="underline decoration-blue-200 font-bold">data analysis</span> 
      and <span class="underline decoration-blue-200 font-bold">visualization</span>- all of which are needed in the realm of CRO. 
      My technical proficiency, coupled with a deep understanding of user behavior, allows me to craft data-driven strategies that 
      drive tangible results.
    </div>
  </div>
</section>
