---
import { Icon } from 'astro-icon';
---

<section class="bg-gray-500 dark:bg-fuchsia-500 relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-white text-center font-medium">
      <Icon name="twemoji:woman-technologist" class="w-5 h-5 inline-block align-text-bottom mr-1" />
        I like unicorns and web development
      <Icon name="twemoji:woman-technologist" class="w-5 h-5 inline-block align-text-bottom transform -scale-x-100 ml-1" />
  </div>
</section>