---

import { Icon } from 'astro-icon';

---

<section class="bg-gray-800 dark:bg-fuchsia-600 relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-white text-center font-medium">
      <Icon name="twemoji:waving-hand" class="w-5 h-5 inline-block align-text-bottom mr-1" />
        Hi! I'm Sofia, a Bioinformatician and System Developer at SciLifeLab, Solna, Sweden, with a passion for web development.
  </div>
</section>
