---

---
<section class="relative mt-[10px] bg-gray-800 dark:bg-fuchsia-700 text-white text-xl md:text-center 
    max-sm:text-center py-10 px-[500px] md:px-[200px] max-sm:px-5">
    <div class="px-2">
      I currently work as a Bioinformatician/System Developer at 
      <a href="https://www.scilifelab.se/" class="text-fuchsia-200 dark:text-blue-200" target="_blank">SciLifeLab</a> 
      in Solna at 
      <a href="https://ngisweden.scilifelab.se/" class="text-fuchsia-200 dark:text-blue-200" target="_blank">NGI</a> 
      <br>
      (but employed by 
      <a href="https://ki.se/en" class="text-fuchsia-200 dark:text-blue-200">Karolinska Institute</a> 
      as a Bioinformatician- confusing!)
    </div>
</section>

