---

---
<section class="relative mt-[10px] bg-gray-800 dark:bg-fuchsia-700 text-white text-xl md:text-center 
    max-sm:text-center py-10 px-[500px] md:px-[400px] max-sm:px-5">
    <div class="px-2">
      Hi! 👋
      <br><br>
      I currently work as a Bioinformatician/System Developer at 
      <a href="https://www.scilifelab.se/" class="text-fuchsia-200 dark:text-blue-200" target="_blank">SciLifeLab</a> 
      in Solna at 
      <a href="https://ngisweden.scilifelab.se/" class="text-fuchsia-200 dark:text-blue-200" target="_blank">NGI</a> 
      (but employed by 
      <a href="https://ki.se/en" class="text-fuchsia-200 dark:text-blue-200">Karolinska Institute</a> 
      as a Bioinformatician- confusing I know!)
      <br><br>
      I'm a creative, passionate, and independant individual. I love to code, particularly in JavaScript, 
      and I am constantly exploring new techniques and languages to broaden my skill set. 
      <br><br>
      Design, especially within the realms of UX and graphic design, resonates with me on a deep level.
      <br><br>
      Beyond the screen, you'll often find me at the gym or on a hike. 
      <br><br>
      When I'm not immersed in the great outdoors, you might also catch me delving into the virtual realms of video games. 
      <br><br>
      However, my greatest joy comes from spending quality time with my family.
    </div>
</section>

