---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Work from '~/components/widgets/Work.astro';
import Dashboard from '~/components/widgets/Dashboard.astro';
import Videos from '~/components/widgets/Videos.astro';
import Skills from '~/components/widgets/Skills.astro';
import ContactMe from '~/components/widgets/ContactMe.vue';


const meta = {
  title: SITE.title,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <title>Sofia Haglund</title>
    <div>
      <Hero
        image={{
      }}
      >
      <Fragment slot="title">
        <span>Sofia Haglund</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span id="typing"></span>
      </Fragment>
      </Hero>
    </div>
  
  <!-- Skills Widget ************** -->

  <Skills
    title="Stack"
    highlight="Technologies"
    items={[
      {
        title: 'Python',
        description: 'Mid level',
        icon: 'logos:python',
      },
      {
        title: 'SQL',
        description: 'Beginner',
        icon: 'vscode-icons:file-type-sql',
      },
      {
        title: 'HTML',
        description: 'Mid level',
        icon: 'logos:html-5',
      },
      {
        title: 'JavaScript',
        description: 'Mid level',
        icon: 'logos:javascript',
      },
      {
        title: 'React',
        description: 'Beginner',
        icon: 'logos:react',
      },
      {
        title: 'Astro',
        description: 'Beginner',
        icon: 'simple-icons:astro',
      },
      {
        title: 'jQuery',
        description: 'Mid level',
        icon: 'akar-icons:jquery-fill',
      },
      {
        title: 'php',
        description: 'Beginner',
        icon: 'logos:php',
      },
      {
        title: 'Wordpress',
        description: 'Mid level',
        icon: 'bi:wordpress',
      },
      {
        title: 'CSS',
        description: 'Mid level',
        icon: 'logos:css-3',
      },
        {
        title: 'Tailwind CSS',
        description: 'Mid level',
        icon: 'vscode-icons:file-type-tailwind',
      }
    ]}
  />

  <!-- Work Widget ************** -->

  <Work
    title="Work Experience"
    items={[
      {
        title: '2024 -<br>Junior CRO Analyst',
        subtitle: 'LeoVegas (LeoVegas Group)',
        description:
          `As a CRO Analyst, my role is to perform qualitative and quantitative research to gain insights into LeoVegas users' 
          needs and behaviors by pin-pointing pain points and obstacles that hinder visitors from completing desired actions, 
          and developing clear, data-driven hypotheses.
          In order to execute this I am tasked with conducting A/B tests to evaluate the effectiveness of website changes, 
          analyzing the results, and using the data to make informed decisions on which changes responsible parties need to 
          implement, using tools such as GA4, BigQuery, LaunchDarkly, HotJar and Looker Studio.
          Given my coding background, I also take on the responsibility of assisting my coworkers with queries related to 
          advanced analytics and programming, primarily in Python.`,
        icon: 'noto-v1:lion',
      },
      {
        title: '2018 - 2024<br>Bioinformatician/System Developer',
        subtitle: 'National Genomics Infrastructure (SciLifeLab, KI)',
        description:
          `I delivered sequencing data to users from their sequencing projects and was method responsible for the data deliveries. 
          I delivered mostly raw data (FastQ- or bcl-files), but also the BP analysis data of nf-core/RNASeq and nf-core/ MethylSeq, 
          all of which I had run the analyses and performed quality checks prior to delivery, mainly from examining the 
          correponding MultiQC report. I used BaseSpace Clarity LIMS to document my work and communicated with the users 
          through ZenDesk. In addition, I also helped develop pipelines, external and internal web pages and interfaces 
          using Python, JavaScript, PHP, HTML, and CSS using GitHub. I mostly worked with the internal website <a href="https://github.com/SciLifeLab/genomics-status/commits?author=sofiahag" 
          class="text-yellow-800 underline">Genomics Status</a>. I was responsible for the external website <a href="https://ngisweden.scilifelab.se" 
          class="text-yellow-800 underline">NGI Sweden</a> and the pages on the SciLifeLab <a href="https://www.scilifelab.se/" class="text-yellow-800 underline">website</a>. 
          I did quite a bit of testing of the pipelines when these had been updated prior to production deployment and also wrote verifications and validations
          connected to those.`,
        icon: 'mdi:dna',
      },
      {
        title: '2017 - 2018<br>Laboratory Technician',
        subtitle: 'Karolinska Institute (MTC), Centre for Translational Microbiome Research (CTMR)',
        description:
          `I extracted microbe DNA from various samples from the research projects in Professor Lars Engstrand's 
          research group using Tecan FreedomEVO. This was the first step in sequencing the DNA of the samples, 
          which was carried out by my colleagues.`,
        icon: 'mdi:bacteria',
      },
      {
        title: '2015 - 2016<br>Laboratory Engineer',
        subtitle: 'Octapharma Sweden, QC Support, Sample Reception',
        description:
          `I received samples of pharmaceutical drugs in various phases of their production, imported these in SQL LIMS, 
          and passed these on to the lab. I also handled the purchasing of supplies and equipment for the biochemistry lab,
          using SAP. In addition, I also delivered and received samples from other sites in Sweden as well as abroad.`,
        icon: 'medical-icon:i-pharmacy',
      },
      {
        title: '2014 - 2015<br>Laboratory Engineer',
        subtitle: 'Karolinska University Hospital in Solna, Department of Clinical Virology, Serology',
        description:
        `I analysed blood plasma from patient samples for the detection of antibodies against various infections
        using ELISA, both automatically with the Tecan Freedom EVO robot and with manual analysis.`,
        icon: 'healthicons:virus-lab-research-syringe',
      },
      {
        title: '2014 - 2014<br>Laboratory Engineer',
        subtitle: 'Karolinska University Hospital in Huddinge, Department of Clinical Virology, Molecular Biology',
        description:
        `I analysed various patient samples for the detection of viral
        infections using MagNA Pure and PCR.`,
        icon: 'healthicons:virus-lab-research-test-tube-outline',
      },
    ]}
/>

    <!-- Dashboard Widget ************** -->

  <Dashboard
    title="User Stats"
    highlight="Digital Analytics"
  />

  <!-- Videos Widget ************** -->

  <Videos
    title="Tutorials"
    highlight="Videos"
  />

  <!-- ContactMe Widget ************** -->

  <ContactMe client:load />

</Layout>

<script src="~/Typewriter.js"></script>
