---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Me from '~/components/widgets/Me.astro';
import Skills from '~/components/widgets/Skills.astro';
import ContactMe from '~/components/widgets/ContactMe.vue';


const meta = {
  title: SITE.title,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <title>Sofia Haglund</title>
  <canvas id="canvas"></canvas>
    <div>
      <Hero
        image={{
      }}
      >
      <Fragment slot="title">
        <span>Sofia Haglund</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span id="typing"></span>
      </Fragment>
      </Hero>
    </div>

  <!-- Me Widget ************** -->

  <Me/> 

  <!-- Skills Widget ************** -->

  <Skills
    title="Technologies"
    highlight="Stack"
    items={[
      {
        title: 'Python',
        description: 'Mid level',
        icon: 'logos:python',
      },
      {
        title: 'HTML',
        description: 'Mid level',
        icon: 'logos:html-5',
      },
      {
        title: 'JavaScript',
        description: 'Mid level',
        icon: 'logos:javascript',
      },
      {
        title: 'Node',
        description: 'Beginner',
        icon: 'logos:nodejs',
      },
      {
        title: 'Vue',
        description: 'Beginner',
        icon: 'logos:vue',
      },
      {
        title: 'React',
        description: 'Beginner',
        icon: 'logos:react',
      },
      {
        title: 'React Native',
        description: 'Beginner',
        icon: 'logos:react',
      },
      {
        title: 'Redux',
        description: 'Beginner',
        icon: 'logos:redux',
      },
      {
        title: 'TypeScript',
        description: 'Beginner',
        icon: 'logos:typescript',
      },
      {
        title: 'Astro',
        description: 'Beginner',
        icon: 'simple-icons:astro',
      },
      {
        title: 'jQuery',
        description: 'Mid level',
        icon: 'akar-icons:jquery-fill',
      },
      {
        title: 'php',
        description: 'Beginner',
        icon: 'logos:php',
      },
      {
        title: 'SQL',
        description: 'Beginner',
        icon: 'vscode-icons:file-type-sql',
      },
      {
        title: 'Wordpress',
        description: 'Mid level',
        icon: 'bi:wordpress',
      },
      {
        title: 'CSS',
        description: 'Mid level',
        icon: 'logos:css-3',
      },
        {
        title: 'Tailwind CSS',
        description: 'Mid level',
        icon: 'vscode-icons:file-type-tailwind',
      },
      {
        title: 'Bootstrap',
        description: 'Mid level',
        icon: 'logo:bootstrap',
      }
    ]}
  />

  <!-- ContactMe Widget ************** -->

  <ContactMe client:load />

</Layout>

<script src="~/FireFlies.js"></script>
<script src="~/Typewriter.js"></script>
