---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Me from '~/components/widgets/Me.astro';
import Work from '~/components/widgets/Work.astro';
import Videos from '~/components/widgets/Videos.astro';
import Skills from '~/components/widgets/Skills.astro';
import ContactMe from '~/components/widgets/ContactMe.vue';


const meta = {
  title: SITE.title,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <title>Sofia Haglund</title>
    <div>
      <Hero
        image={{
      }}
      >
      <Fragment slot="title">
        <span>Sofia Haglund</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span id="typing"></span>
      </Fragment>
      </Hero>
    </div>
  
  <!-- Skills Widget ************** -->

  <Skills
    title="Stack"
    highlight="Technologies"
    items={[
      {
        title: 'Python',
        description: 'Mid level',
        icon: 'logos:python',
      },
      {
        title: 'HTML',
        description: 'Mid level',
        icon: 'logos:html-5',
      },
      {
        title: 'JavaScript',
        description: 'Mid level',
        icon: 'logos:javascript',
      },
      {
        title: 'Node',
        description: 'Beginner',
        icon: 'logos:nodejs-icon',
      },
      {
        title: 'Vue',
        description: 'Beginner',
        icon: 'logos:vue',
      },
      {
        title: 'React',
        description: 'Beginner',
        icon: 'logos:react',
      },
      {
        title: 'React Native',
        description: 'Beginner',
        icon: 'logos:react',
      },
      {
        title: 'Redux',
        description: 'Beginner',
        icon: 'logos:redux',
      },
      {
        title: 'TypeScript',
        description: 'Beginner',
        icon: 'logos:typescript-icon',
      },
      {
        title: 'Astro',
        description: 'Beginner',
        icon: 'simple-icons:astro',
      },
      {
        title: 'jQuery',
        description: 'Mid level',
        icon: 'akar-icons:jquery-fill',
      },
      {
        title: 'php',
        description: 'Beginner',
        icon: 'logos:php',
      },
      {
        title: 'SQL',
        description: 'Beginner',
        icon: 'vscode-icons:file-type-sql',
      },
      {
        title: 'Wordpress',
        description: 'Mid level',
        icon: 'bi:wordpress',
      },
      {
        title: 'CSS',
        description: 'Mid level',
        icon: 'logos:css-3',
      },
        {
        title: 'Tailwind CSS',
        description: 'Mid level',
        icon: 'vscode-icons:file-type-tailwind',
      },
      {
        title: 'Bootstrap',
        description: 'Mid level',
        icon: 'logo:bootstrap',
      }
    ]}
  />

  <!-- Work Widget ************** -->

  <Work
    title="Work Experience"
    items={[
      {
        title: '2018-<br>Bioinformatician/System Developer',
        subtitle: 'National Genomics Infrastructure (SciLifeLab, KI)',
        description:
          `I deliver sequencing data to users from their sequencing projects and is method responsible for data delivery. 
          I deliver mostly raw data (FastQ- or bcl-files), but also the BP analysis data of nf-core/RNASeq and nf-core/ MethylSeq, 
          all of which I have run the analyses and performed quality checks prior to delivery, mainly from examining the 
          correponding MultiQC report. I use BaseSpace Clarity LIMS to document my work and communicate with our users 
          through ZenDesk. In addition, I also help develop our pipelines, our external and internal web pages and interfaces 
          using Python, JavaScript, PHP, HTML, and CSS using GitHub. I mostly work with our internal website Genomics
          Status: https://github.com/SciLifeLab/genomics-status/commits?author=sofiahag. I'm responsible for our website 
          (https://ngisweden.scilifelab.se) and our pages on the SciLifeLab website. I do quite a bit of testing of our pipelines 
          when these have been updated prior to production deployment and and also write verifications and validations
          connected to these.`,
        icon: 'mdi:dna',
      },
      {
        title: '2017 - 2018<br>Laboratory Technician',
        subtitle: 'Karolinska Institute (MTC), Centre for Translational Microbiome Research (CTMR)',
        description:
          `I extracted microbe DNA from various samples from the research projects in Professor Lars Engstrand's 
          research group using Tecan FreedomEVO. This was the first step in sequencing the DNA of the samples, 
          which was carried out by my colleagues.`,
        icon: 'mdi:bacteria',
      },
      {
        title: '2015 - 2016<br>Laboratory Engineer',
        subtitle: 'Octapharma AB, QC Support, Sample Reception',
        description:
          `I received samples of pharmaceutical drugs in various phases of their production, imported these in SQL LIMS, 
          and passed these on to the lab. I also handled the purchasing of supplies and equipment for the biochemistry lab,
          using SAP. In addition, I also delivered and received samples from other sites in Sweden as well as abroad.`,
        icon: 'medical-icon:i-pharmacy',
      },
      {
        title: '2014 - 2015<br>Laboratory Engineer',
        subtitle: 'Karolinska University Hospital in Solna, Department of Clinical Virology, Serology',
        description:
        `I analysed blood plasma from patient samples for the detection of antibodies against various infections
        using ELISA, both automatically with the Tecan Freedom EVO robot and with manual analysis.`,
        icon: 'healthicons:virus-lab-research-syringe',
      },
      {
        title: '2014 - 2014<br>Laboratory Engineer',
        subtitle: 'Karolinska University Hospital in Huddinge, Department of Clinical Virology, Molecular Biology',
        description:
        `I analysed various patient samples for the detection of viral
        infections using MagNA Pure and PCR.`,
        icon: 'healthicons:virus-lab-research-test-tube-outline',
      },
    ]}
/>

  <!-- Videos Widget ************** -->

  <Videos
    title="Tutorials"
    highlight="Videos"
  />

  <!-- ContactMe Widget ************** -->

  <ContactMe client:load />

</Layout>

<script src="~/Typewriter.js"></script>
