---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Work from '~/components/widgets/Work.astro';
import Dashboard from '~/components/widgets/Dashboard.astro';
import Videos from '~/components/widgets/Videos.astro';
import Skills from '~/components/widgets/Skills.astro';
import ContactMe from '~/components/widgets/ContactMe.vue';


const meta = {
  title: SITE.title,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->
  <title>Sofia Haglund</title>
    <div>
      <Hero
        image={{
      }}
      >
      <Fragment slot="title">
        <span>Sofia Haglund</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span id="typing"></span>
      </Fragment>
      </Hero>
    </div>
  
  <!-- Skills Widget ************** -->

  <Skills
    title="Stack"
    highlight="Technologies"
    items={[
      {
        title: 'Python',
        description: 'Mid level',
        icon: 'logos:python',
      },
      {
        title: 'SQL',
        description: 'Mid level',
        icon: 'vscode-icons:file-type-sql',
      },
      {
        title: 'JavaScript',
        description: 'Mid level',
        icon: 'logos:javascript',
      },
      {
        title: 'Google BigQuery',
        description: 'Mid level',
        icon: 'oi:magnifying-glass',
      },
      {
        title: 'Google Analytics',
        description: 'Mid level',
        icon: 'logos:google-analytics',
      },
      {
        title: 'Google Looker Studio',
        description: 'Mid level',
        icon: 'logos:looker-icon',
      },
      {
        title: 'Jira',
        description: 'Mid level',
        icon: 'logos:jira',
      },
      {
        title: 'Hotjar',
        description: 'Beginner',
        icon: 'simple-icons:hotjar',
      },
      {
        title: 'Contentsquare',
        description: 'Beginner',
        icon: 'simple-icons:square',
      }
    ]}
  />

  <!-- Work Widget ************** -->

  <Work
    title="Work Experience"
    items={[
      {
        title: '2024 -<br>Junior CRO Analyst (Apps Specialist)',
        subtitle: 'LeoVegas (LeoVegas Group)',
        description:
          `As a CRO Analyst at LeoVegas, I specialize in experimentation and A/B testing for our mobile apps, driving continuous optimization 
          and data-driven decision-making. After six months in the analysis sub-team—where I led our Quarterly Business Review, monitored and 
          reported key conversion metrics, and managed stakeholder data requests—I have transitioned to the CRO experimentation team, taking 
          sole responsibility for testing on our apps. 
          My role involves running A/B and A/A tests to optimize the app experience, defining and monitoring app-specific KPIs, reporting insights 
          daily to the company, tracking and managing experimentation tickets in Jira, leading ceremonies with stakeholders to align on testing 
          strategies, utilizing tools such as LaunchDarkly, Google Analytics, Contentsquare, Looker Studio, BigQuery, and GitHub to inform and execute 
          testing strategies. With a background in bioinformatics and system development (Python, Bash, JavaScript, Firebase, GitHub), I bridge 
          experimentation with technical implementation, collaborating closely with Analytics Engineering and Data Science to ensure robust tracking 
          and meaningful insights.Passionate about data-driven growth and optimization, I thrive on transforming insights into impactful business outcomes.`,
        icon: 'noto-v1:lion',
      },
      {
        title: '2018 - 2024<br>Bioinformatician/System Developer',
        subtitle: 'National Genomics Infrastructure (SciLifeLab, KI)',
        description:
          `I delivered sequencing data to users from their sequencing projects and was method responsible for the data deliveries. 
          I delivered mostly raw data (FastQ- or bcl-files), but also the BP analysis data of nf-core/RNASeq and nf-core/ MethylSeq, 
          all of which I had run the analyses and performed quality checks prior to delivery, mainly from examining the 
          correponding MultiQC report. I used BaseSpace Clarity LIMS to document my work and communicated with the users 
          through ZenDesk. In addition, I also helped develop pipelines, external and internal web pages and interfaces 
          using Python, JavaScript, PHP, HTML, and CSS using GitHub. I mostly worked with the internal website <a href="https://github.com/SciLifeLab/genomics-status/commits?author=sofiahag" 
          class="text-yellow-800 underline">Genomics Status</a>. I was responsible for the external website <a href="https://ngisweden.scilifelab.se" 
          class="text-yellow-800 underline">NGI Sweden</a> and the pages on the SciLifeLab <a href="https://www.scilifelab.se/" class="text-yellow-800 underline">website</a>. 
          I did quite a bit of testing of the pipelines when these had been updated prior to production deployment and also wrote verifications and validations
          connected to those.`,
        icon: 'mdi:dna',
      },
      {
        title: '2017 - 2018<br>Laboratory Technician',
        subtitle: 'Karolinska Institute (MTC), Centre for Translational Microbiome Research (CTMR)',
        description:
          `I extracted microbe DNA from various samples from the research projects in Professor Lars Engstrand's 
          research group using Tecan FreedomEVO. This was the first step in sequencing the DNA of the samples, 
          which was carried out by my colleagues.`,
        icon: 'mdi:bacteria',
      },
      {
        title: '2015 - 2016<br>Laboratory Engineer',
        subtitle: 'Octapharma Sweden, QC Support, Sample Reception',
        description:
          `I received samples of pharmaceutical drugs in various phases of their production, imported these in SQL LIMS, 
          and passed these on to the lab. I also handled the purchasing of supplies and equipment for the biochemistry lab,
          using SAP. In addition, I also delivered and received samples from other sites in Sweden as well as abroad.`,
        icon: 'medical-icon:i-pharmacy',
      },
      {
        title: '2014 - 2015<br>Laboratory Engineer',
        subtitle: 'Karolinska University Hospital in Solna, Department of Clinical Virology, Serology',
        description:
        `I analysed blood plasma from patient samples for the detection of antibodies against various infections
        using ELISA, both automatically with the Tecan Freedom EVO robot and with manual analysis.`,
        icon: 'healthicons:virus-lab-research-syringe',
      },
      {
        title: '2014 - 2014<br>Laboratory Engineer',
        subtitle: 'Karolinska University Hospital in Huddinge, Department of Clinical Virology, Molecular Biology',
        description:
        `I analysed various patient samples for the detection of viral
        infections using MagNA Pure and PCR.`,
        icon: 'healthicons:virus-lab-research-test-tube-outline',
      },
    ]}
/>

    <!-- Dashboard Widget ************** -->

  <Dashboard
    title="User Stats"
    highlight="Digital Analytics"
  />

  <!-- Videos Widget ************** -->

  <Videos
    title="Tutorials"
    highlight="Videos"
  />

  <!-- ContactMe Widget ************** -->

  <ContactMe client:load />

</Layout>

<script src="~/Typewriter.js"></script>
