---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import DNA from '~/components/widgets/DNA.html';
import Me from '~/components/widgets/Me.astro';
import Skills from '~/components/widgets/Skills.astro';
import ContactMe from '~/components/widgets/ContactMe.vue';
// import Typed from '~/components/widgets/Typed.vue';

const meta = {
  title: SITE.title,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>

  <!-- Hero Widget ******************* -->

  <div class="md:grid md:grid-cols-3">
    <section class="py-12 md:py-20">
      <DNA/>
    </section>
      <Hero
        image={{
          src: import('~/assets/images/IMG_0572.webp'),
          alt: 'Sofia_H'
        }}
      >
      <Fragment slot="title">
        <span>Sofia Haglund</span>
      </Fragment>
      <Fragment slot="subtitle">
        <span>Bioinformatician/System Developer</span>
      </Fragment>
      <!-- Todo <Typed client:load />  -->
      </Hero>
    <section class="py-12 md:py-20">
      <DNA/>
    </section>
  </div>

  <!-- Me Widget ************** -->

  <Me/> 

  <!-- Skills Widget ************** -->

  <Skills
    title="Languages"
    highlight="Skills"
    items={[
      {
        title: 'Python',
        description: 'Intermediary level',
        icon: 'logos:python',
      },
      {
        title: 'HTML',
        description: 'Intermediary level',
        icon: 'logos:html-5',
      },
      {
        title: 'JavaScript',
        description: 'Intermediary level',
        icon: 'logos:javascript',
      },
      {
        title: 'JS Vue',
        description: 'Beginner',
        icon: 'logos:vue',
      },
      {
        title: 'JS React',
        description: 'Beginner',
        icon: 'logos:react',
      },
      {
        title: 'Astro',
        description: 'Beginner',
        icon: 'simple-icons:astro',
      },
      {
        title: 'jQuery',
        description: 'Intermediary level',
        icon: 'akar-icons:jquery-fill',
      },
      {
        title: 'php',
        description: 'Beginner',
        icon: 'logos:php',
      },
      {
        title: 'Laravel',
        description: 'Beginner',
        icon: 'logos:laravel',
      },
      {
        title: 'SQL',
        description: 'Beginner',
        icon: 'vscode-icons:file-type-sql',
      },
      {
        title: 'Wordpress',
        description: 'Intermediary level',
        icon: 'bi:wordpress',
      },
      {
        title: 'CSS',
        description: 'Intermediary level',
        icon: 'logos:css-3',
      },
        {
        title: 'Tailwind CSS',
        description: 'Beginner',
        icon: 'vscode-icons:file-type-tailwind',
      },
      {
        title: 'Bootstrap',
        description: 'Intermediary level',
        icon: 'logo:bootstrap',
      }
    ]}
  />

   <!-- ContactMe Widget ************** -->

  <ContactMe client:load />

</Layout>
