@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-black;
  }

  @font-face {
    font-family: 'Sofia Pro';
    src: local('Sofia Pro'), url('./../../../fonts/sofiapro-light.otf') format('opentype');
  }
  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;
  }
}

#header.scroll {
  @apply shadow-md md:shadow-lg bg-white md:bg-white/90 md:backdrop-blur-sm dark:bg-slate-900 dark:md:bg-slate-900/90;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

.base {
  width: 155px;
  height: 1px;
  background-color: #000000;
  position: relative;
  margin: 0px auto;
  margin-top: 28px;
  margin-bottom: 28px;
  -webkit-animation-name: rotate-base;
          animation-name: rotate-base;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

:is(.dark .base) {
  background-color: #ffffff;
}

.base:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(255, 137, 224);
  left: 0;
  margin-top: -9px;
  margin-left: -9px;
  -webkit-animation-name: base-size-left;
          animation-name: base-size-left;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.base:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(133, 152, 255);
  right: 0;
  margin-top: -9px;
  margin-right: -9px;
  -webkit-animation-name: base-size-right;
          animation-name: base-size-right;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.base:nth-child(1), .base:nth-child(1):before, .base:nth-child(1):after {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.base:nth-child(2), .base:nth-child(2):before, .base:nth-child(2):after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.base:nth-child(3), .base:nth-child(3):before, .base:nth-child(3):after {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.base:nth-child(4), .base:nth-child(4):before, .base:nth-child(4):after {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.base:nth-child(5), .base:nth-child(5):before, .base:nth-child(5):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.base:nth-child(6), .base:nth-child(6):before, .base:nth-child(6):after {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.base:nth-child(7), .base:nth-child(7):before, .base:nth-child(7):after {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.base:nth-child(8), .base:nth-child(8):before, .base:nth-child(8):after {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.base:nth-child(9), .base:nth-child(9):before, .base:nth-child(9):after {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.base:nth-child(10), .base:nth-child(10):before, .base:nth-child(10):after {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.base:nth-child(11), .base:nth-child(11):before, .base:nth-child(11):after {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

.base:nth-child(12), .base:nth-child(12):before, .base:nth-child(12):after {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

@-webkit-keyframes rotate-base {
  0% {
    width: 155px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 155px;
  }
  75% {
    width: 0;
  }
  100% {
    width: 155px;
  }
}

@keyframes rotate-base {
  0% {
    width: 155px;
  }
  25% {
    width: 0;
  }
  50% {
    width: 155px;
  }
  75% {
    width: 0;
  }
  100% {
    width: 155px;
  }
}

@-webkit-keyframes base-size-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1) translateX(155px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

@keyframes base-size-left {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1) translateX(155px);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

@-webkit-keyframes base-size-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-155px);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

@keyframes base-size-right {
  0% {
    transform: scale(1) translateX(0px);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1) translateX(-155px);
  }
  75% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1) translateX(0px);
  }
}

.loading {
  background: transparent url('./src/assets/images/pink-atom-loader.gif') no-repeat scroll center center;
}

@media (max-width: 767px) {
  .base {
    display: none;
  }
}
