---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const { meta } = Astro.props;
---

<Layout {meta}>
  <div id="cookieConsent">
    Hi! Just letting you know that my website uses cookies and Google Analytics&nbsp;
    <button id="acceptButton">Fine by me!</button>
    <button id="declineButton">I don't like that.</button>
  </div>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Function to set cookie
    function setCookie(cookieName, cookieValue, expiryDays) {
      const d = new Date();
      d.setTime(d.getTime() + (expiryDays * 24 * 60 * 60 * 1000));
      const expires = "expires=" + d.toUTCString();
      document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
    }

    // Function to check if cookie exists
    function checkCookie(cookieName) {
      const cookies = decodeURIComponent(document.cookie).split(';');
      for (let i = 0; i < cookies.length; i++) {
        let cookie = cookies[i].trim();
        if (cookie.indexOf(cookieName + "=") === 0) {
          return cookie.substring(cookieName.length + 1);
        }
      }
      return null;
    }

    const cookieConsent = checkCookie('cookieConsent');

    // Check if the user has accepted the cookie
    if (!cookieConsent) {
      document.getElementById('cookieConsent').style.display = 'block';
    }

    // When the user clicks on the accept button
    document.getElementById('acceptButton').addEventListener('click', function() {
      setCookie('cookieConsent', 'accepted', 30); // Cookie expires in 30 days
      document.getElementById('cookieConsent').style.display = 'none';
      loadGoogleAnalytics();
    });
    document.getElementById('declineButton').addEventListener('click', function() {
      setCookie('cookieConsent', 'declined', 30); // Cookie expires in 30 days
      document.getElementById('cookieConsent').style.display = 'none';
    });

    function loadGoogleAnalytics() {
      const script = document.createElement('script');
      script.async = true;
      script.src = "https://www.googletagmanager.com/gtag/js?id=G-7YKMWLRCBW";
      document.head.appendChild(script);

      script.onload = function() {
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-7YKMWLRCBW');
      };
    }

    // Check if user already accepted cookies and load GA4 if true
    if (cookieConsent === 'accepted') {
      loadGoogleAnalytics();
    }
  });
</script>
